---
name: "Build"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Lib
        run: |
          sudo chmod +rwx install.sh
          sudo bash install.sh

      - name: Build Unpacker
        run: |
          export PS4SDK=$(pwd)/ps4sdk
          make

      - name: Upload Binary Artifact
        uses: actions/upload-artifact@v4
        with:
          path: |
            ./*.elf
